section.details-section
  .wrapper
    .details-section__container
      h2.details-section__title.font-w-bold.font-s-36.text-up
        | Таким будет ваш 
        span.color-green «CashPro»
      .swiper-basic
        .details-section__cards.swiper-wrapper
          .details-section__card.swiper-slide
            img.details-section__card-img(src="images/details-section-card-img-1.jpg" loading="lazy" width="760" height="500" alt="image")
          .details-section__card.swiper-slide
            img.details-section__card-img(src="images/details-section-card-img-2.jpg" loading="lazy" width="760" height="500" alt="image")
          .details-section__card.swiper-slide
            img.details-section__card-img(src="images/details-section-card-img-3.jpg" loading="lazy" width="760" height="500" alt="image")
          .details-section__card.swiper-slide
            img.details-section__card-img(src="images/details-section-card-img-4.jpg" loading="lazy" width="760" height="500" alt="image")
          .details-section__card.swiper-slide
            img.details-section__card-img(src="images/details-section-card-img-5.jpg" loading="lazy" width="760" height="500" alt="image")
          .details-section__card.swiper-slide
            img.details-section__card-img(src="images/details-section-card-img-6.jpg" loading="lazy" width="760" height="500" alt="image")
        .basic-pagination.swiper-progress-basic
