section.main-section
  .wrapper
    .main-section__container
      h1.main-section__title.font-w-bold.font-s-39.text-up
        | Зарабатывайте от 
        br.no-br
        span.color-green 1,2 млн тенге ежемесячно 
        br.no-br
        | на собственном магазине 
        br.no-br
        | техники Apple
      .main-section__sub-title.font-w-medium.font-s-24
        | Станьте партнером франшизы 
        span.color-green «CashPro»
        br
        | и запустите работу бизнеса всего за 37 дней
      .main-section__text.font-w-medium.font-s-18.text-up
        img.main-section__icon(src="images/main-section-icon.png" loading="lazy" width="358" height="222" alt="icon")
        | Получите план 
        br.no-br
        | быстрого запуска 
        br.no-br
        | магазина
      form.main-section__form(data-feedback-form)
        input(type="text" name="honeyfield" class="honeypot" style="display:none")
        input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
        input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
        button.btn(type="submit") Получить
      img.main-section__img(src="images/main-section-img.png" loading="lazy" width="2214" height="1674" alt="image")
