section.support-section
  .wrapper
    .support-section__container
      img.support-section__charge-img(src="images/support-section-charge-img.png" loading="lazy" width="1047" height="927" alt="icon")
      img.support-section__power-img(src="images/support-section-power-img.png" loading="lazy" width="866" height="772" alt="icon")
      img.support-section__doc-img(src="images/support-section-doc-img.png" loading="lazy" width="866" height="772" alt="icon")
      h2.support-section__title.font-w-bold.font-s-36.text-up
        | Мы будем 
        span.color-green поддерживать 
        | вас 
        span.color-green на 
        | всех 
        br.no-br
        span.color-green этапах 
        | становления бизнеса
      .swiper-basic
        .support-section__cards.swiper-wrapper
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon.png" loading="lazy" width="60" height="60" alt="icon")
            .font-s-20
              | Поможем собрать сильную 
              br.no-br
              | команду профессионалов
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon.png" loading="lazy" width="60" height="60" alt="icon")
            .font-s-20
              | Организуем очное обучение 
              br.no-br
              | для вас и вашей команды
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon.png" loading="lazy" width="60" height="60" alt="icon")
            .font-s-20
              | Дадим рекомендации по 
              br.no-br
              | выбору лучшей локации и 
              br.no-br
              | помещения
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon.png" loading="lazy" width="60" height="60" alt="icon")
            .font-s-20
              | Поможем правильно 
              br.no-br
              | оборудовать и оформить 
              br.no-br
              | его
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon.png" loading="lazy" width="60" height="60" alt="icon")
            .font-s-20
              | Организуем поставки товара 
              br.no-br
              | и расходников из головной 
              br.no-br
              | компании
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon.png" loading="lazy" width="60" height="60" alt="icon")
            .font-s-20
              | Передадим рабочие 
              br.no-br
              | маркетинговые инструменты
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon.png" loading="lazy" width="60" height="60" alt="icon")
            .font-s-20
              | Поможем организовать 
              br.no-br
              | работу социальных сетей
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon.png" loading="lazy" width="60" height="60" alt="icon")
            .font-s-20
              | Подключим к общему 
              br.no-br
              | программному обеспечению
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon.png" loading="lazy" width="60" height="60" alt="icon")
            .font-s-20
              | Добавим в закрытое 
              br.no-br
              | сообщество партнеров сети
        .basic-pagination.swiper-progress-basic
      .support-section__bottom
        .support-section__bottom-text
          .support-section__bottom-text-title.font-w-bold.font-s-24.text-up
            | Скачайте договор, в 
            br.no-br
            | котором описаны 
            br.no-br
            span.color-green наши обязанности 
            br.no-br
            | и все 
            span.color-green условия 
            br.no-br
            span.color-green сотрудничества
        .support-section__bottom-right
          img.support-section__bottom-icon(src="images/support-section-bottom-icon.png" loading="lazy" width="988" height="528" alt="icon")
          .support-section__bottom-right-text.font-w-bold.font-s-24.text-up.text-center
            | Хотите узнать 
            br.no-br
            span.color-green больше о работе 
            br.no-br
            | с нами?
          button.btn.support-section__btn(data-remodal-target="modal-form-agreement") Скачать
