.btn
  height: 45px
  width 100%
  user-select: none
  position: relative
  display: flex;
  justify-content: center
  align-items: center
  overflow: hidden
  color: #303234
  border-radius: 30px
  background: #1DB854
  text-transform: uppercase
  font-family: 'HelveticaNeueCyr-Bold'
  font-weight: 700
  font-size: 14px
  line-height: 120%
  transition transform 0.5s, top 0.8s
  +above($breakpoints.sm)
    font-size: 16px;
    height: 50px;
  +above($breakpoints.md)
    font-size: 20px;
    height: 55px;
  +above($breakpoints.xxl)
    font-size: 24px;
    height: 60px

  &:hover
    transform: scale(1.02)

  &:active
    top: 3px

  &::before
    content: ""
    position: absolute
    top: 0;
    height: 100%;
    width: 36px;
    transform: skewX(-45deg)
    left: -150%
    pointer-events: none
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 4s infinite ease-in;
    vendord = official
    @keyframes flareAnimation
      0%
          left: -150%
      100% 
          left: 250%

  &--thanks
    font-size: 12px;
    +above($breakpoints.sm)
      font-size: 14px;
    +above($breakpoints.md)
      font-size: 16px;
    +above($breakpoints.xxl)
      font-size: 18px;
  // &--call-me
  //   font-family: 'STYRENEAWEB-MEDIUM'
  //   font-weight: 500
  //   border-radius: 22px
  //   box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.3);
  //   height: 25px
  //   font-size: 11px
  //   width 100px
  //   +above($breakpoints.sm)
  //     font-size: 12px;
  //     height: 30px;
  //     width 125px
  //   +above($breakpoints.md)
  //     font-size: 13px;
  //     height: 35px;
  //     width 150px
  //   +above($breakpoints.xxl)
  //     font-size: 14px;
  //     height: 40px
  //     width 177px

  // &--secondary
  //   font-size: 11px;
  //   +above($breakpoints.sm)
  //     font-size: 10px;
  //   +above($breakpoints.md)
  //     font-size: 12px;
  //   +above($breakpoints.xxl)
  //     font-size: 14px;


